name: Build the Docker Image

on: [workflow_call]
    
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check file existence
        id: check_file
        run: |
          if [ -f "Dockerfile" ]; then
            file_exists="true"
          else
            file_exists="false"
          fi

          echo "file_exists=${file_exists}" >> $GITHUB_OUTPUT
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Build docker image
        if: steps.check_file.outputs.file_exists == 'true'
        env:
          IMAGE_NAME: ${{ github.event.repository.name }}
        run: |
          IMAGE_TAG=v$(python -c "import mypackage; print(mypackage.__version__)")
          FULL_IMAGE=${IMAGE_NAME}:${IMAGE_TAG}
          echo "FULL_IMAGE: ${FULL_IMAGE}"
          docker build -t $FULL_IMAGE .


