name: Tests and Build Docs

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test-python:
    uses: ./.github/workflows/test-python.yml
  test-docker:
    uses: ./.github/workflows/build-docker.yml
    if: ${{ (github.event_name == 'pull_request' && github.head_ref != 'main') || (github.event_name == 'push' && github.ref_name != 'main') }}
  test-docs:
    uses: ./.github/workflows/build-docs.yml
    if: ${{ github.event_name == 'push' && github.ref_name == 'main'}}
  deploy-docker:
    uses: ./.github/workflows/build-docker.yml
    needs: [test-python, test-docker, test-docs]
  deploy-docs:
    uses: ./.github/workflows/build-docs.yml
    if: ${{ github.event_name == 'push' && github.ref_name == 'main'}}
    needs: [test-python, test-docker, test-docs]