on: [push, pull_request]

permissions:
  contents: read
  pages: write
  id-token: write
  actions: read


jobs:
  test-python:
    uses: NERC-CEH/dri-cicd/.github/workflows/test-python.yml@test
  
  build-test-docker:
    uses: NERC-CEH/dri-cicd/.github/workflows/build-docker.yml@test
    with:
      package_name: mypackage
      test_image: false
    if: ${{ (github.event_name == 'pull_request' && github.head_ref != 'main') || (github.event_name == 'push' && github.ref_name != 'main') }}
  
  deploy-docker:
    uses: NERC-CEH/dri-cicd/.github/workflows/deploy-docker.yml@test
    with:
      image_artifact_name: ${{ needs.build-test-docker.outputs.image_artifact_name }}
      image_artifact_file: ${{ needs.build-test-docker.outputs.image_artifact_file }}
      image_name: ${{ needs.build-test-docker.outputs.image_name }}
    if: ${{ github.ref_name == 'main' || github.head_ref == 'main'}}
    needs: [test-python, build-test-docker]
    secrets:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}

  build-docs:
    uses: NERC-CEH/dri-cicd/.github/workflows/build-docs.yml@test
    if: ${{ (github.event_name == 'pull_request' && github.head_ref != 'main') || (github.event_name == 'push' && github.ref_name != 'main') }}
  
  deploy-docs:
    uses: NERC-CEH/dri-cicd/.github/workflows/deploy-docs.yml@test
    with:
      pages_artifact_name: ${{ needs.build-docs.outputs.pages_artifact_name }}
    if: ${{ github.ref_name == 'main' || github.head_ref == 'main'}}
    needs: [test-python, build-docs, build-test-docker]
